@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Mada:wght@200..900&display=swap"); */

/* @import url("https://fonts.googleapis.com/css2?family=Amiri:wght@400;700&family=Cairo:wght@400;600;700&display=swap"); */

.active {
  color: #64ffda;
}
